extends layout

block content
  .sidepadding
    #container.bottompadding
      .clearfix
        .topmost
          //- .boxPlatform
          .martop1em
            .logo
              img(src="img/cm_logo_2x.png", alt="Cerulean Moon Logo")
        
        
        .tagline.upcase.Xmartop1em
          //- .boxBGgrey1
          
          :markdown
            _**Cerulean Moon**_  
            is a precision platformer where you move the world with your finger.

      .linklist
        .centeredlist
          :markdown
            * [TWITTER]()
            * [FACEBOOK]()
            * [TUMBLR]()
            * [PRESSKIT]()

      .video.martop1em.marbottom1em
        .tall-flex-video
          #player
          //- iframe(width="480", height="360", src="https://www.youtube.com/embed/WZfIJgGcDic?rel=0", frameborder="0", allowfullscreen="")

      .newsletter.marbottom1em
        .field
        p newsletter
        // Begin MailChimp Signup Form
        //- link(href='//cdn-images.mailchimp.com/embedcode/slim-081711.css', rel='stylesheet', type='text/css')
        //- style(type='text/css').
          #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
          /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
          We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        #mc_embed_signup
          form#mc-embedded-subscribe-form.validate(action='//nachobeard.us11.list-manage.com/subscribe/post?u=d87f25b37c39da5b986167616&id=a4468a20d4', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
            #mc_embed_signup_scroll
              .inputholder
                input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='email address', required='')
              // real people should not fill this in and expect good things - do not remove this or risk form bot signups
              div(style='position: absolute; left: -5000px;')
                input(type='text', name='b_d87f25b37c39da5b986167616_a4468a20d4', tabindex='-1', value='')
              //- .clear
              .buttonholder
                input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
        // End mc_embed_signup
        


      .responsiveslider.martop2em.marbottom4em
        .row
          .slide1of3
            #gfySingle0triple.gfy-flex
          .slide1of3
            #gfySingle1triple.gfy-flex
          .slide1of3
            #gfySingle2triple.gfy-flex
        .row
          .slide1of3
            #gfySingle3triple.gfy-flex
          .slide1of3
            #gfySingle4triple.gfy-flex
          .slide1of3
            #gfySingle5triple.gfy-flex

      .slidersmallgfy.martop2em.marbottom4em
        .slide1of1
          #gfySingle0.gfy-flex
        .slide1of1
          #gfySingle1.gfy-flex
        .slide1of1
          #gfySingle2.gfy-flex
        .slide1of1
          #gfySingle3.gfy-flex
        .slide1of1
          #gfySingle4.gfy-flex
        .slide1of1
          #gfySingle5.gfy-flex

      
      .creditline
        .nachologo
          //- .nachobeard
          a(href="http://nachobeard.com")
            img(src="img/nacho_logo-cropped.png", alt="Nacho Beard Logo")
        .credits.upcase
          //- .boxBGgrey1
          
          :markdown
            * [Nacho](http://blog.nachobeard.com) Game, Code
            * [Anaïs](http://anais-maamar.tumblr.com/) Sprite Design
            * [Clairvoire](http://clairvoire.tumblr.com/) Animation