extends layout

block content
  #container
    .sidebar
      li
        a(href="#") navigation 1
      li
        a(href="#") navigation 2
      li
        a(href="#") navigation 3

    .main
      :markdown
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quibusdam adipisci cum voluptatum, incidunt animi corrupti, error culpa minima in atque rerum enim dolor corporis cupiditate quod earum, fuga vel.

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus itaque dolores neque nisi veniam, dolorem iste consequuntur voluptatem, odio consequatur esse cumque autem cupiditate minus doloremque dolor, quas. Optio, distinctio.