extends layout

block content
  .sidepadding
    #container.padbottom4em
      .topmost
        //- .boxPlatform
        .martop1em
          .logo
            img(src="img/cm_logo_2x.png", alt="Cerulean Moon Logo")
      
      
      .leftbox.Xmartop1em
        //- .boxBGgrey1
        .centered.upcase
          :markdown
            A precision platformer where you move the world.

      .video.martop1em.marbottom1em
        .tall-flex-video
          iframe(width="480", height="360", src="https://www.youtube.com/embed/WZfIJgGcDic?rel=0", frameborder="0", allowfullscreen="")
      .linklist
        :markdown
          * [TWITTER]()
          * [FACEBOOK]()
          * [TUMBLR]()
          * [PRESSKIT]()

      //- .video.martop1em.marbottom1em
      //-   .field
      //-     input


      .slider.martop2em.marbottom4em
        .row
          .slide
            p one
          .slide
            p two
          .slide
            p three
        .row
          .slide
            p four
          .slide
            p five
          .slide
            p six
      
      .padbottom4em
        .nachologo
          //- .nachobeard
          img(src="img/nacho_logo-cropped.png", alt="Nacho Beard Logo")
        .credits.upcase
          //- .boxBGgrey1
          
          :markdown
            * [Nacho](http://blog.nachobeard.com) Game, Code
            * [Anaïs](http://anais-maamar.tumblr.com/) Sprite Design
            * [Clairvoire](http://clairvoire.tumblr.com/) Animation