extends layout

block content
  .sidepadding
    #container.padbottom4em
      .clearfix
        .topmost
          //- .boxPlatform
          .martop1em
            .logo
              img(src="img/cm_logo_2x.png", alt="Cerulean Moon Logo")
        
        
        .tagline.Xmartop1em
          //- .boxBGgrey1
          .upcase
            :markdown
              A precision platformer where you move the world.

      .video.martop1em.marbottom1em
        .tall-flex-video
          #player
          //- iframe(width="480", height="360", src="https://www.youtube.com/embed/WZfIJgGcDic?rel=0", frameborder="0", allowfullscreen="")
      .linklist
        :markdown
          * [TWITTER]()
          * [FACEBOOK]()
          * [TUMBLR]()
          * [PRESSKIT]()

      //- .video.martop1em.marbottom1em
      //-   .field
      //-     input


      .responsiveslider.martop2em.marbottom4em
        .row
          .slide1of3
            #gfySingle0triple.gfy-flex
          .slide1of3
            #gfySingle1triple.gfy-flex
          .slide1of3
            #gfySingle2triple.gfy-flex
        .row
          .slide1of3
            #gfySingle3triple.gfy-flex
          .slide1of3
            #gfySingle4triple.gfy-flex
          .slide1of3
            #gfySingle5triple.gfy-flex

      .slidersmallgfy.martop2em.marbottom4em
        .slide1of1
          #gfySingle0.gfy-flex
        .slide1of1
          #gfySingle1.gfy-flex
        .slide1of1
          #gfySingle2.gfy-flex
        .slide1of1
          #gfySingle3.gfy-flex
        .slide1of1
          #gfySingle4.gfy-flex
        .slide1of1
          #gfySingle5.gfy-flex

      
      .padbottom4em
        .nachologo
          //- .nachobeard
          img(src="img/nacho_logo-cropped.png", alt="Nacho Beard Logo")
        .credits.upcase
          //- .boxBGgrey1
          
          :markdown
            * [Nacho](http://blog.nachobeard.com) Game, Code
            * [Anaïs](http://anais-maamar.tumblr.com/) Sprite Design
            * [Clairvoire](http://clairvoire.tumblr.com/) Animation