extends layout

block content
  .sidepadding
    #container.bottompadding
      .clearfix
        .topmost
          //- .boxPlatform
          .martop1em
            .logo
              img(src="img/cm_logo_2x.png", alt="Cerulean Moon Logo")
        
        
        .tagline.upcase
          //- .boxBGgrey1
          
          :markdown
            _**Cerulean Moon**_  
            is a precision platformer where you move the world with your finger.

            Coming in 2016

      //- .platforms
      //-   img.appstore(src="img/Download_on_the_App_Store_Badge_US-UK_135x40.svg", alt="Download on the iOS App Store")
      //-   img.googleplay(src="img/en_generic_rgb_wo_60.png", alt="Get it on the Google Play Store")


      .linklist
        .centeredlist
          ul
            li
              i.fa.fa-facebook-official
              a(href="https://www.facebook.com/nachobeard") FACEBOOK
            li
              i.fa.fa-twitter
              a(href="https://twitter.com/nachobeard") TWITTER

            li
              i.fa.fa-tumblr
              a(href="http://blog.nachobeard.com") TUMBLR

            li 
              i.fa.fa-microphone
              a(href="http://www.nachobeard.com") PRESSKIT

          //- :markdown
          //-   * [TWITTER]()
          //-   * [FACEBOOK]()
          //-   * [TUMBLR]()
          //-   * [PRESSKIT]()

      .video.marbottom1em
        .tall-flex-video
          #player
          //- iframe(width="480", height="360", src="https://www.youtube.com/embed/WZfIJgGcDic?rel=0", frameborder="0", allowfullscreen="")

      .newsletter.marbottom1em
        p.upcase sign up to our low traffic mailing list
        //- .field
        // Begin MailChimp Signup Form
        #mc_embed_signup
          form#mc-embedded-subscribe-form.validate(action='//nachobeard.us11.list-manage.com/subscribe/post?u=d87f25b37c39da5b986167616&id=a4468a20d4', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
            #mc_embed_signup_scroll
              input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
              span.formcontainer
                input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='email address', required='')
                // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                div(style='position: absolute; left: -5000px;')
                  input(type='text', name='b_d87f25b37c39da5b986167616_a4468a20d4', tabindex='-1', value='')
                //- .clear
        // End mc_embed_signup
        


      .responsiveslider.martop2em.marbottom5em
        .row
          .slide1of3
            #gfySingle0triple.gfy-flex
          .slide1of3
            #gfySingle1triple.gfy-flex
          .slide1of3
            #gfySingle2triple.gfy-flex
        .row
          .slide1of3
            #gfySingle3triple.gfy-flex
          .slide1of3
            #gfySingle4triple.gfy-flex
          .slide1of3
            #gfySingle5triple.gfy-flex

      .slidersmallgfy.martop2em.marbottom5em
        .slide1of1
          #gfySingle0.gfy-flex
        .slide1of1
          #gfySingle1.gfy-flex
        .slide1of1
          #gfySingle2.gfy-flex
        .slide1of1
          #gfySingle3.gfy-flex
        .slide1of1
          #gfySingle4.gfy-flex
        .slide1of1
          #gfySingle5.gfy-flex

      
      //- .agameby
      //-   p a game by

      .creditline
        .nachologo
          //- .nachobeard
          a(href="http://nachobeard.com")
            img(src="img/nacho_logo-cropped.png", alt="Nacho Beard Logo")
        .credits.upcase
          //- .boxBGgrey1
          
          :markdown
            * [Nacho](http://blog.nachobeard.com) Game, Code
            * [Anaïs](http://anais-maamar.tumblr.com/) Sprite Design
            * [Clairvoire](http://clairvoire.tumblr.com/) Animation

      .copyright.martop2em
        //- script(type='text/javascript').
        //-   moment().format('dddd');
        p 
          | &copy; 2015 nachobeard
          br
          | site by 
          a(href="http://splendorr.com") splendorr