extends layout

block content
  .sidepadding
    #container.bottompadding
      .clearfix
        .topmost
          //- .boxPlatform
          .martop1em
            .logo
              img(src="img/cm_logo_2x.png", alt="Cerulean Moon Logo")
        
        
        .tagline.upcase
          //- .boxBGgrey1
          
          .taglinetext
            :markdown
              #**Cerulean Moon**
              is a jumpless platformer  

          .comingsoontext
            :markdown
              **Coming in 2016 to**

      .platforms
        img(src="img/steam-white-500.png", alt="Steam Logo")
        img.padleft(src="img/ps-white-500.png", alt="PlayStation Logo")
        img.padleft(src="img/apple-white-500.png", alt="Apple Logo")
        img.padleft(src="img/android-white-500.png", alt="Android Logo")
        //- img(src="img/platform-logos-one-row.png", alt="Steam logo, PlayStation logo, Apple logo, Android logo")
        //- img.appstore(src="img/Download_on_the_App_Store_Badge_US-UK_135x40.svg", alt="Download on the iOS App Store")
        //- img.googleplay(src="img/en_generic_rgb_wo_60.png", alt="Get it on the Google Play Store")


      .linklist
        .centeredlist
          ul
            li
              i.fa.fa-facebook-official
              a(href="https://www.facebook.com/nachobeard") FACEBOOK
            li
              i.fa.fa-twitter
              a(href="https://twitter.com/nachobeard") TWITTER

            li
              i.fa.fa-tumblr
              a(href="http://blog.nachobeard.com") TUMBLR

            li 
              i.fa.fa-microphone
              a(href="http://www.nachobeard.com/sheet.php?p=Cerulean_Moon") PRESSKIT

          //- :markdown
          //-   * [TWITTER]()
          //-   * [FACEBOOK]()
          //-   * [TUMBLR]()
          //-   * [PRESSKIT]()

      .video.marbottom1em
        //- .tall-flex-video
        .flex-video.widescreen.vimeo
          #player
          //- iframe(width="480", height="360", src="https://www.youtube.com/embed/WZfIJgGcDic?rel=0", frameborder="0", allowfullscreen="")

      .newsletter.marbottom1em
        p.upcase.signupto Get notified when the game is out:
        //- .field
        // Begin MailChimp Signup Form
        #mc_embed_signup
          form#mc-embedded-subscribe-form.validate(action='//nachobeard.us11.list-manage.com/subscribe/post?u=d87f25b37c39da5b986167616&id=a4468a20d4', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
            #mc_embed_signup_scroll
              input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
              span.formcontainer
                input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='email address', required='')
                // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                div(style='position: absolute; left: -5000px;')
                  input(type='text', name='b_d87f25b37c39da5b986167616_a4468a20d4', tabindex='-1', value='')
                //- .clear
        // End mc_embed_signup
        
      // Nacho: To change the CONTENTS of these slides, you change the GFYCAT ID in /js/vars.js.

      // Below are the Groups-of-3 slides for larger screens. Uncomment an entire "row" to add another group of 3. If you don't have enough to fill an entire row, comment out the unneeded divs with the "gfySingle#triple" id.

      // To add even more slides, you need to copy and paste a <div class="row"> and its contents, then change the numerals in the div id="gfySingle[#]triple".
      .responsiveslider.martop2em.marbottom5em
        .row
          .slide1of2
            #gfySingle0double.gfy-flex
          .slide2of2
            #gfySingle1double.gfy-flex
        .row
          .slide1of2
            #gfySingle2double.gfy-flex
          .slide2of2
            #gfySingle3double.gfy-flex
        .row
          .slide1of2
            #gfySingle4double.gfy-flex
          .slide2of2
            #gfySingle5double.gfy-flex
        
        | <!--
        .row
          .slide1of3
            #gfySingle6triple.gfy-flex
          .slide1of3
            #gfySingle7triple.gfy-flex
          .slide1of3
            #gfySingle8triple.gfy-flex
        
        .row
          .slide1of2
            #gfySingle9triple.gfy-flex
          .slide2of2
            #gfySingle10triple.gfy-flex
        
        .row
          .slide1of3
            #gfySingle12triple.gfy-flex
          .slide1of3
            #gfySingle13triple.gfy-flex
          .slide1of3
            #gfySingle14triple.gfy-flex
        | -->
        | <!--
        .row
          .slide1of3
            #gfySingle15triple.gfy-flex
          .slide1of3
            #gfySingle16triple.gfy-flex
          .slide1of3
            #gfySingle17triple.gfy-flex
        | -->

      // Nacho: Then below this are the single-GFYCAT slides for smaller screens. Here you can just comment or uncomment the slides you need individually.

      // Then you need to do the same thing down here, except you don't need the "row" divs. You just copy and paste the "slide1of1" divs and change the internal numerals.
      .slidersmallgfy.martop2em.marbottom5em
        .slide1of1
          #gfySingle0.gfy-flex
        .slide1of1
          #gfySingle1.gfy-flex
        .slide1of1
          #gfySingle2.gfy-flex
        .slide1of1
          #gfySingle3.gfy-flex
        .slide1of1
          #gfySingle4.gfy-flex
        .slide1of1
          #gfySingle5.gfy-flex
        
        | <!--
        .slide1of1
          #gfySingle6.gfy-flex
        .slide1of1
          #gfySingle7.gfy-flex
        .slide1of1
          #gfySingle8.gfy-flex
        .slide1of1
          #gfySingle9.gfy-flex
        .slide1of1
          #gfySingle10.gfy-flex
        | -->

        | <!--
        .slide1of1
          #gfySingle11.gfy-flex 
        | -->

        | <!--
        .slide1of1
          #gfySingle6.gfy-flex
        | -->

        | <!--
        .slide1of1
          #gfySingle7.gfy-flex
        | -->

        | <!--
        .slide1of1
          #gfySingle8.gfy-flex
        | -->

        | <!--
        .slide1of1
          #gfySingle9.gfy-flex
        | -->

        | <!--
        .slide1of1
          #gfySingle10.gfy-flex
        | -->

        | <!--
        .slide1of1
          #gfySingle11.gfy-flex
        | -->

      
      //- .agameby
      //-   p a game by

      .creditline
        .nachologo
          //- .nachobeard
          a(href="http://nachobeard.com")
            img(src="img/nacho_logo-cropped.png", alt="Nacho Beard Logo")
        .credits.upcase
          //- .boxBGgrey1
          
          :markdown
            * [Nacho](http://blog.nachobeard.com) Game, Code
            * [Anaïs](http://anais-maamar.tumblr.com/) Sprite Design
            * [Clairvoire](http://clairvoire.tumblr.com/) Animation
            * [Eirik](http://www.strotch.net) Music
            * [Martin](http://www.martinkvale.com) Sound FX

      .copyright.martop2em
        //- script(type='text/javascript').
        //-   moment().format('dddd');
        p 
          | &copy; 2015–2016 nachobeard
          br
          | site by 
          a(href="http://splendorr.com") splendorr