@import '_settings'
@import 'jeet'

normalize-css()
base()

// edit()

/* 
VARIABLES 
*/

// Rupture scale
scale = 0 90em 120em 150em 180em

BGgrey1dark      = #1B2D36
BGgrey1details   = #152127
BGgrey1highlight = #243A40
BGgrey1mosslight = #225F4B
BGgrey1mossdark  = #134032

BGgrey2light     = #243A40
BGgrey2highlight = #3D5A5C

platSurfaceGrey  = #ABD8D8
platFrontGrey    = #5F8688
platSpecks       = #346C74

platShadow1      = #0E161A
platShadow2      = #131F25

ranMask          = #FFF5EF
ranHair          = #9D6ABB
ranHairShadow1   = #48386D
ranHairShadow2   = #272338

linkgray         = #727272
beachsand        = #9DE8D4


/* END VARIABLES */

/* UTILITIES */
.martop05em { margin-top: 0.5em; }
.martop1em { margin-top: 1em; }
.martop2em { margin-top: 2em; }
.martop3em { margin-top: 3em; }
.martop4em { margin-top: 4em; }

.marbottom01em { margin-bottom: 0.1em; }
.marbottom05em { margin-bottom: 0.5em; }
.marbottom1em { margin-bottom: 1em; }
.marbottom2em { margin-bottom: 2em; }
.marbottom3em { margin-bottom: 3em; }
.marbottom4em { margin-bottom: 4em; }
.marbottom5em { margin-bottom: 5em; }
.marbottom6em { margin-bottom: 6em; }

.padtop1em { padding-top: 1em; }
.padtop2em { padding-top: 2em; }
.padtop3em { padding-top: 3em; }
.padtop4em { padding-top: 4em; }

.padbottom1em { padding-bottom: 1em; }
.padbottom2em { padding-bottom: 2em; }
.padbottom3em { padding-bottom: 3em; }
.padbottom4em { padding-bottom: 4em; }

.padbottom6em { padding-bottom: 6em; }
.padbottom8em { padding-bottom: 8em; }

.padbottomfinal { padding-bottom: 12%; }

.justascootch { margin-top: 5px; }

.marsides1em { margin-left: 1em; margin-right: 1em;}
.padsides1em { padding-left: 1em; padding-right: 1em;}

.marright1em { margin-right: 1em; }
.padright1em { padding-right: 1em; }
.padleft1em { padding-left: 1em; }

.flex-video
  position: relative;
  padding-top: 25px
  padding-bottom: 67.5%
  height: 0;
  margin-bottom: 16px
  overflow: hidden;

  &.widescreen
    padding-bottom: 56.34%
  &.vimeo
    padding-top: 0

  iframe,
  object,
  embed,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
.tall-flex-video
  position: relative;
  padding-top: 65.5%
  padding-bottom: 67.5%
  height: 0;
  // margin-bottom: 16em
  overflow: hidden;

  &.widescreen
    padding-bottom: 56.34%
  &.vimeo
    padding-top: 0

  iframe,
  object,
  embed,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/* END UTILITIES */

html
  // height 100%
  min-height 100%
  // font-size 100%
  // line-height 1.5
  // background-color #E6FBF6
  background: linear-gradient(
    top, 
    #00B6C7,
    30% #87EFD5,
    35% #E6FBF6,
    100% #E6FBF6
  ) 
  
body
  min-height 100% 
  background-image url("../img/BEACH_AREA_fullview_filled_1920_tall_gradient_TALLER.png")
  background-position center top
  background-repeat no-repeat 
  // background-color #E6FBF6
/*  background: linear-gradient(
                              top, 
                              #00B6C7, 
                              30% #00B6C7, 
                              50% #46CFB7, 
                              
                              50% #46CFB7, //
                              60% #46CFB7,
                              
                              60% #61D3BB, //
                              63% #61D3BB,
                               
                              63% #46CFB7, // 
                              70% #46CFB7,
                              
                              70% #61D3BB, //
                              72% #61D3BB,
                              
                              72% #15BEA0, //
                              73% #15BEA0,
                              
                              73% #58CFB6, //
                              74% #58CFB6,
                              
                              74% #15BEA0, //
                              80% #15BEA0,
                              
                              80% #00AF8A
                            )
*/                            
img
  max-width 100% 
  
p
  paragraph()
  font-kerning: normal;
  
a
  &:link 
    // color: ranHair
    color: linkgray
    text-decoration none
    // border-bottom: 1px dashed gray;
    // border-bottom: 1px dashed gray;
      
    background-image: linear-gradient(to right, linkgray 50%, rgba(255,255,255,0) 0%);
    background-position: bottom left;
    background-size: 4px 1px;
    background-repeat: repeat-x;
    
  &:hover 
    color: gray !important
    background-image: linear-gradient(to right, gray 50%, rgba(255,255,255,0) 0%);
    // border-bottom: 1px dashed ranHair;
  &:visited 
    color: linkgray
  &:active 
    color: linkgray
  
// STRUCTURE

#container
  // center(3000px, 1em)
  // center(3000px)
  center(960px)
  
    
.sidepadding
  padding-left 1em
  padding-right 1em
  // center(900px, 1em)
    
.centered
  text-align center
  
.upcase
  uppercase()
  
.clearfix
  clearfix() 
  
.logo
  text-align center
  // text-align right
  // float right
  
  +below(700px)
    text-align center
    float none

  
.topmost
  transition: all .5s ease
  
  // position relative
  // span(9/17)
  col(1)  

  // unstack()
  // min-height 10em
  +below(700px)
    stack()
    // col(7/8, offset: 1/16)
    col(1)
    
.tagline
  transition: all .5s ease
  
  color: white
  
  p
    font-size 1.8em
    line-height 1.1em 
  
  column(2/5, offset: 3/10)
  text-align center !important
  +below(800px)
    column(3/5, offset: 2/10)
  
  +below(750px)
    stack()
    col(1/2, offset: 1/4)
    padding-top 0em 
    p
      font-size 1.4em
      line-height 1.2em
  +below(550px)
    col(7/8, offset: 1/16)
    padding-top 0em 
    p
      font-size 1.2em
      line-height 1.2em
      
.platforms
  col(1)
  margin-top 1em
  // margin-bottom 0 
  text-align center !important
  // center(960px)
  img
    height 3em
    width auto 
  // .appstore
  //   margin-right 1em
  .googleplay
    padding-left 1em
    
  +below(700px)
    margin-top 1
    stack()
    col(6/8, offset: 1/8)
  +below(500px)
    col(1)
    img
      height 2.5em
      width auto 
    .googleplay
      padding-left .25em
    


.video
  transition: all .5s ease
  margin-top 1em
  
  span(1/2)
  +below(700px)
    margin-top 0
    stack()
    col(6/8, offset: 1/8)
  +below(500px)
    col(1)

.linklist
  // transition: all .5s ease
    
  color white
  
  span(1/4)
  shift(3/4, span)
  
  i
    min-width 1.5em
    text-align center
  
  ul
    list-style none
    padding-left 0.5em
    line-height 1.5em 
    
  +below(700px)
    text-align center
    // margin-top 1em
    unshift()
    stack()
    col(1)
    ul
      display inline-block
      font-size 1em 
      // inline-list: 1em
      // center(345px)
    li
      display inline
      padding-right .5em
  +below(500px)
    i
      min-width 1.2em 
    ul
      font-size 0.7em 
      // inline-list: 1em
      // center(280px)
    li
      padding-right 0.25em
        
  .centeredlist
    text-align left
    +below(700px)
      text-align center
    // width 100%
  
  a
    &:link 
      // color: ranHair
      color: white
      text-decoration none
      // border-bottom: 1px dashed gray;
      // border-bottom: 1px dashed gray;
        
      background-image: linear-gradient(to right, white 50%, rgba(255,255,255,0) 0%);
      background-position: bottom left;
      background-size: 4px 1px;
      background-repeat: repeat-x;
      
    &:hover 
      color: silver !important
      background-image: linear-gradient(to right, silver 50%, rgba(255,255,255,0) 0%);
      // border-bottom: 1px dashed ranHair;
    &:visited 
      color: white
    &:active 
      color: white

.newsletter
  transition: all .5s ease
  span(1/2, offset: 1/4)
  +below(700px)
    stack()
    col(6/8, offset: 1/8)
  +below(500px)
    col(1)
  
  p
    // padding-left 0.5em !important
    padding-bottom 0 !important
    margin-bottom 0 !important
    color black
  
  
// .field
//   field(right, 100%)
  
//   input[type='text']
    
//   label
//     label: block

#mc_embed_signup
  // width 100%
  // field(right, 100%)
  padding 0
  margin 0 
  width 100%
 
form#mc-embedded-subscribe-form
  width 100% 
  padding 0
  margin 0
  field(left, 100%)
  
#mc_embed_signup_scroll
  // display block
  border 1px solid black !important
  overflow hidden
  
span.formcontainer
  display block
  overflow hidden

input#mce-EMAIL
  // input()
  width 100%
  margin 0 !important
  border none
  padding-left 0.5em !important
  // padding-right -1em !important

input#mc-embedded-subscribe.button
  // button: gray 'medium'
  background-color #C0C0C0 
  float right
  border none
  margin 0 !important
  padding-right 1em
  padding-left 1em 
  // border-left 1px solid silver
    
input#mce-EMAIL, input#mc-embedded-subscribe
  font-size 1.2em
  line-height 2em
  padding 0
  padding-top .2em 
  upcase()
  
  +below(700px)
    font-size 1em
    line-height 2em
  
// input#mc-embedded-subscribe
//   font-size 1.2em
//   line-height 2em
//   padding 0
//   padding-top .2em 
//   upcase()
          
.main
  stack()
  col(1)
  transition: all .5s ease
  
  // +above(500px)
  //   unstack()
  //   col(1/2)
    
.responsiveslider
  // col(2/3, offset: 1/6)
  // col(16/24, offset: 4/24)
  responsivewidth = .63
  col(responsivewidth, offset: (1 - responsivewidth)/2)
  // col(1)
  // text-align center !important
  display inherit !important
  +below(700px)
    display none !important

.row
  text-align center
  
.slide1of3
  col(1/3, gutter: 0)
  // background-color silver 
  // height: 18em
    
.slide1of2
  // col(1/3, offset: 1/6, gutter: 0)
  col(1/2, gutter: 0)
.slide2of2
  // col(1/3, gutter: 0)
  col(1/2, gutter: 0)
  
.slidersmallgfy
  // col(28/32, offset: 2/32)
  col(26/32, offset: 3/32)
  // text-align center
  display none !important
  +below(700px)
    display inherit !important
  
.slide1of1
  // col(7/8)
  // background-color silver 
  text-align center
  // height: 26em
  
div.gfyitem {
    width:100%;
    div:not(.gfyCtrlBox):not(.gfyCtrlTabPull){
        width: 100% !important;
        max-width:100% !important;
        height: auto !important; 
        .gfyPreLoadCanvas{
            display: none;
        }
        video{
            position:relative !important;
            margin-top: 0;
            padding-top: 0; 
        }
    }
    .gfyCtrlBox{
        // margin-bottom:10px !important; 
        .gfyCtrlPause, .gfyCtrlReverse, .gfyCtrlSlower, .gfyCtrlFaster{
        width:15px;
        height:15px;
        margin-top:0;
        }
      }
    .gfyGif{
        position:relative !important;
        width: 100% !important;
        max-width:100% !important;
        height: auto !important; 
        background-color: rgba(255,255,255,0);
    }
}


.gfy-flex
    position: relative;
    height: 0px;
    // padding-bottom: 56.25%;
    overflow: hidden;
    background-color: rgba(255,255,255,0);
    padding-top: 70%
    padding-bottom: 70%
    max-width 300px
    // padding-left auto
    // padding-right auto  
    +below(700px)
      max-width 100%
      // padding-top 0 
      // padding-bottom 0

.gfy-flex .gfyitem > div,
.gfy-flex .gfyitem .gfyPreLoadCanvas,
.gfy-flex .gfyitem .gfyVid,
.gfy-flex .gfyitem  .gfyGif {
    position: absolute !important;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(255,255,255,0);
}

.bottompadding
  padding-bottom 4em
  +below(700px)
    padding-bottom 2em
    
.agameby
  col(1)
  text-align center
  upcase() 
  // font-variant: small-caps
  p
    font-size 1.4em
  
    
.nachologo
  span(2/6, offset: 1/6)
  +below(700px)
    // stack()
    col(2/3, offset: 1/6)
  +below(500px)
    stack()
    col(1)
  a
    &:link 
      // color: ranHair
      text-decoration none
      background-image: none
      
    &:hover 
      background-image: none
      // border-bottom: 1px dashed ranHair;
    &:visited 
      color: linkgray
    &:active 
      color: linkgray
    
.credits
  padding-left 1em
  
  font-size 1.7em
  // line-height 1.1em 
  line-height 1.4em 
  
  span(3/7)
  +below(900px)
    font-size 1.5em
  +below(800px)
    font-size 1.3em
  +below(700px)
    // stack()
    col(2/3, offset: 1/6)
    font-size 1.9em
    padding-left 0em
  +below(600px)
    font-size 1.5em
  +below(500px)
    stack()
    col(1)
    // center(320px)
    // text-align center
  
  // .stable
  //   table(border: false, striped: false, condensed: true)
  
  p, ul
    margin-top 0em
    padding-top 0
  
  ul
    list-style none
    padding-left 0
    
.copyright
  col(1)
  text-align center
    
    
.halfoffset
  column(1/2, offset: 1/4)
  
.justhalf
  column(1/2)

.halfspan
  span(1/2)
      
.boxPlatform
  background platFrontGrey
  border-top 40px solid platSurfaceGrey
  
  h1, h2, h3
    color ranMask
    text-shadow: 0px 3px platShadow1
    
  h1
    font-size 3em
      
.boxBGgrey1
  background BGgrey1dark
  border-radius 5px
  border-top 5px solid BGgrey1highlight
  padding 1em 
  
  p, h1, h2, h3
    color: platSurfaceGrey
    text-shadow: 0px 2px platShadow1

// ANIMATION

@keyframes wake {
    from { background-position: 0px; }
    to { background-position: -1856px; }
}

.ranWake
  height 64px
  width 64px
  background-position -1856px 
  background-image url("../img/mainCharacter_waking.png") 
  margin 0 auto
  animation: wake 2s steps(29);
  transform scale(2)
  // -webkit-animation-fill-mode: forwards;

@keyframes wake4x {
    from { background-position: 0px 0px; }
    to { background-position: -7424px 0px; }
}

@keyframes stand4x {
    from { background-position: 0px -256px; }
    to { background-position: -4864px -256px; }
}

.ranWake4x
  height 256px
  width 256px
  background-position -7424px 0px
  background url("/img/mainCharacter_waking_standing_4x.png") 0 0 no-repeat;
  margin 0 auto
  // position absolute 
  // animation: wake4x 2s steps(29) 1;
  animation: wake4x 2s steps(29) 1, stand4x 2s steps(19) 2.1s infinite;
  // animation: stand4x 2s steps(19) infinite;
  // -webkit-animation-fill-mode: forwards;