@import '_settings'
@import 'jeet'

normalize-css()
base()
edit()

img
  max-width 100% 
  
p
  paragraph()

#container
  center(3000px, 1em)
  
  .contained
    position relative
    col(1)
    // min-height 10em 
    
  .logo
    text-align center
    padding-top 3em
    padding-bottom 3em  
    // align(both)
  
  .sidebar
    stack()
    transition: all .5s ease
    
    +below(600px)
      ul
        inline-list: 10px
        center(200px)
    
    +above(600px)
      unstack()
      col(1/2)
    
      
        
  .main
    stack()
    transition: all .5s ease
    
    +above(600px)
      unstack()
      col(1/2)