@import '_settings'
@import 'jeet'

normalize-css()
base()
// edit()

img
  max-width 100% 
  
p
  paragraph()
  
html
  height 100%
  
body
  background: linear-gradient(
                              top, 
                              #00B6C7, 
                              30% #00B6C7, 
                              50% #46CFB7, 
                              
                              50% #46CFB7, //
                              60% #46CFB7,
                              
                              60% #61D3BB, //
                              63% #61D3BB,
                               
                              63% #46CFB7, // 
                              70% #46CFB7,
                              
                              70% #61D3BB, //
                              72% #61D3BB,
                              
                              72% #15BEA0, //
                              73% #15BEA0,
                              
                              73% #58CFB6, //
                              74% #58CFB6,
                              
                              74% #15BEA0, //
                              80% #15BEA0,
                              
                              80% #00AF8A
                            )
  min-height 100% 

#container
  center(3000px, 1em)
  
  .contained
    position relative
    col(1)
    // min-height 10em 
    
  .logo
    text-align center
    padding-top 3em
    padding-bottom 3em  
    // align(both)
  
  .sidebar
    stack()
    transition: all .5s ease
    
    +below(600px)
      ul
        inline-list: 10px
        center(200px)
    
    +above(600px)
      unstack()
      col(1/2)
    
      
        
  .main
    stack()
    transition: all .5s ease
    
    +above(600px)
      unstack()
      col(1/2)